/*-- scss:defaults --*/
$body-bg: #202c39;
$body-color: #f4f3ee;
$link-color: #f2d492;
$headingColor: #f29559;


/*-- scss:rules --*/
.reveal .slide blockquote {
          border-left: 3px solid $text-muted;
          padding-left: 0.5em;
        }
/*-- c("#009FE3", "#124987", "#009B55","#F1AF00"--*/
